includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 2
    paths:
        - includes
    scanDirectories:
        - includes
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
    ignoreErrors:
        # Plugin's own constants defined in the main plugin file (not scanned).
        - '#Constant JHARUDAR_(PLUGIN_BASENAME|PLUGIN_URL|PLUGIN_PATH|PLUGIN_DIR|VERSION) not found#'
        # WordPress config constants.
        - '#Constant DB_NAME not found#'
        # Plugin functions defined in helper files loaded before classes.
        -
            identifier: function.notFound
            message: '#Function (jharudar_sanitize_ids|jharudar_get_batch_size|jharudar_log_activity|jharudar_user_can_manage) not found#'
            reportUnmatched: false
        # WooCommerce classes & methods that may not be in stubs.
        -
            identifier: staticMethod.notFound
            message: '#Call to an undefined static method WC_Cache_Helper::#'
            reportUnmatched: false
        -
            message: '#(class|Call to static method .+ on an unknown class) .*Automattic\\\\WooCommerce\\\\#'
            reportUnmatched: false
        -
            message: '#Call to static method .+ on an unknown class WC_Cache_Helper#'
            reportUnmatched: false
        # WC_Order_Item may not have get_product() in stubs.
        - '#Call to an undefined method WC_Order_Item::get_product\(\)#'
        # Cross-class method calls that PHPStan can't resolve without full loading.
        - '#Call to an undefined method Jharudar_Exporter::#'
        # Action Scheduler functions and classes.
        - '#Function as_schedule_(single|recurring)_action not found#'
        - '#(class|Access to constant .+ on an unknown class) ActionScheduler#'
        # WooCommerce Subscriptions (not installed in dev environment).
        -
            message: '#(class|invalid type|Call to .+ on an unknown class) .*WC_Subscription#'
            reportUnmatched: false
        -
            message: '#Function wcs_(get_subscription|get_subscriptions|get_subscription_status_name) not found#'
            reportUnmatched: false
        # WooCommerce Memberships (not installed in dev environment).
        -
            message: '#(class|invalid type|Call to .+ on an unknown class) .*WC_Memberships_User_Membership#'
            reportUnmatched: false
        -
            message: '#Function wc_memberships_(get_user_membership|get_user_membership_status_name|get_membership_plans) not found#'
            reportUnmatched: false
        # WooCommerce Bookings (not installed in dev environment).
        -
            message: '#(class|invalid type|Call to .+ on an unknown class) .*WC_Booking#'
            reportUnmatched: false
        -
            message: '#Function (get_wc_booking|wc_booking_get_status_label) not found#'
            reportUnmatched: false
        # WooCommerce Appointments (not installed in dev environment).
        -
            message: '#(class|invalid type|Call to .+ on an unknown class) .*WC_Appointment#'
            reportUnmatched: false
        -
            message: '#Function (get_wc_appointment|wc_appointment_get_status_label) not found#'
            reportUnmatched: false
        # Logger return type (action callback returning int).
        -
            identifier: return.void
            message: '#Action callback returns int but should not return anything#'
            reportUnmatched: false
